#root {
  width: 100%;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  /* margin: 0; */
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  margin: 0px;
}

/* .css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  color: black;
} */

/* .MuiSelect-select,
.MuiSelect-select {
  color: white;
} */
/* .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
  border-color: white !important;
  background: white !important;
} */

/* .select-items div:hover,
.same-as-selected {
  background-color: rgba(218, 39, 39, 0.1);
} */

/* .css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input { */
  /* background: rgb(222, 222, 222) !important; */
  /* border: 1px !important; */
/* } */

/* input,
select,
textarea {
  color: rgb(220, 219, 219);
} */
